body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pagination {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-self: flex-end;
  background-color: black;
  list-style: none;
  width: 30%;
  margin-left: auto;
  margin-top: auto;
  padding: 2px 5px;
  border: solid 1px black;
  color: white;
}

.page-nav {
  cursor: pointer;
  justify-self: flex-start;
  border-radius: 5%;
  font-size: large;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 0 2px
}

.active {
  background-color: white;
  color: black;
}

.disabled {
  cursor: not-allowed;
}

.page-button {
  font-size: large;
  min-width: 20px;
  border-radius: 20%;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}
